<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 text-center pb-5">
        <a href="/cities" class="btn btn-outline-primary">Crear Ciudad</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center pb-5">
        <a href="/offices" class="btn btn-outline-primary">Crear Sede</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center pb-5">
        <a href="/users" class="btn btn-outline-primary">Clientes</a>
      </div>
    </div>
  </div>
</div>