<h2>Crear sede</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="city">Ciudad</label>
    <select formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
      <option [value]="city.code" *ngFor="let city of cities"> {{city.name}}</option>
    </select>
    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
      <div *ngIf="f.city.errors.required">El campo Ciudad es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="code">Identificador unico</label>
    <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
      <div *ngIf="f.code.errors.required">Identificador unico requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">El campo Nombre es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Dirección</label>
    <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
      <div *ngIf="f.address.errors.required">El campo Dirección es requerido</div>
    </div>
  </div>
  
  <div class="form-group text-center">
    <button [disabled]="loading" class="btn btn-primary">Guardar</button>
    <img width="30px" height="30px" *ngIf="loading" src="https://myaccount.wigan.gov.uk/web/Images/loader.gif"/>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">Sede creada</div>
</form>
